.colnav a {
    color: rgb(20, 6, 83);
    font-size: 20px;
}



h1 
    { 
    font-size: 2.2em; 
} 
     
h2 
    { 
    font-size: 2.0em;     
} 
     
h3 
    { 
    font-size: 1.8em; 
} 
     
h4 
    { 
    font-size: 1.6em;     
} 
     
h5 
    { 
    font-size: 1.4em;     
} 
     
p 
    { 
    font-size: 1.2em;     
}


.zoom {
  transition: transform 0.2s;
}
.zoom:hover {
  transform: scale(1.1);
}
.img-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.2s, transform 0.2s;
}
.img-overlay:hover {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1.2);
}

.white-text {
  color: white;
}

.dark-background {
  background-color: #383838; /* Cambia este valor por cualquier otro color en escala de grises que desees */
}
.black-background {
  background-color: #000000;
}

.bg-info {
  background-color: #383838; /* Cambia este valor por cualquier otro color en escala de grises que desees */
}


/* Wrapper Styles */
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
}

/* Carousel Container Styles */
.carousel-container {
  height: 500px;
  width: 500px;
  overflow: hidden;
}

/* Carousel Styles */
.carousel {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  animation: slide 5s infinite;
}

.slide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.slide img {
  height: 400px;
  width: 300px;
}