{% extends 'layout.html' %}
{%block title%} PRUEBAS HEPATICAS {%endblock%}
{% block content %}


<body>
  <hr>
  
  <form class="row g-3 needs-validation" novalidate method="POST">
    <hr>
    <h3>AGLUTI</h3>
    <table class="table table-bordered">
      <tr>
        <th>PRUEBA</th>
        <th>RESULTADO</th>
        <th>VALOR REFERENCIA</th>

      </tr>


      <tr>
        <td>H.I.V. 1 - 2</td>
        <td>
          <div class="form-group col-xs-12 col-sm-12 col-md-4  position-relative">
            {{ form.HIV_1_2.label }} {{ form.HIV_1_2(class_="form-control") }}
            {% for error in form.HIV_1_2.errors %}
            <span style="color: red;"> {{ error }} </span>
            {% endfor %}
          </div>
        </td>
        <td>
          NEGATIVO
        </td>
      </tr>
      
      
    </table>
    <div class="form-group col-xs-12 col-sm-12 col-md-4  position-relative">
      {{ form.hidden_tag() }}
      {{ form.submit(class_="btn btn-primary") }}
    </div>
  </form>
</body>

</html>
{% endblock %}